html{
  width: 100%;
  height: 100%;
  font-family: 'Oxygen','Source Sans Pro', sans-serif;
  font-size: 4.8vh;
  font-weight: 300;
}

body{
  background-color: #E2DFDA;
}

a{
  text-decoration:none;
  color: #15161F;
  -webkit-transition: background-color 350ms ease-out;
  -moz-transition: background-color 350ms ease-out;
  -o-transition: background-color 350ms ease-out;
  transition: background-color 350ms ease-out;
}

a:hover, a:active{
  background-color: #A7997E;
  color: #E4E4E4;
}

a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #15161F;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.j, .u, .s, .t, .i, .n{
  color: #A39082;
}
.l, .e, .e2{
  color: #946E4F;
}

.wrapper{
  background-color: #E2DFDA;
  width: 50vw;
  height: 57vh;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.wrapper > div *{
  float: left;
  display: inline-block;
  position: relative;
}


.name{
  width: 0.6rem;
  text-align: center;
  font-weight: 400;
  background-color: #0f0f0f;
}

.about, .contact, .resume, .projects, .blog, .home, .u, .s, .i, .n{
  display: block;
  height: auto;
  position: relative;
}

.projects, .about, .contact, .blog, .home, .resume{
  background-color: #fff;
}

.projects{
  width: 3.97rem;
  padding-left: 0.32rem;
}
.about{
  width: 2.93rem;
  padding-right: 2.28em;
}
.contact{
  width: 3.33rem;
  padding-left: 0.62rem;
}
.blog{
  width: 2.35rem;
  padding-left: 0.59rem;
}
.home{
  width: 2.73rem;
  padding-right: 2.07rem;
}
.resume{
  width: 3.48rem;
  padding-left: 2.13rem;
}

.fade{
  opacity: 0;
}

.center{
  overflow: auto;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.animsition{
	width: 100%;
  height: 97.5vh;
}



@media (min-device-width : 320px) and (max-device-width : 480px) {

.wrapper{
  width: 50vw;
  height: 60vh;
}

}