{% if page.date %}
	<div class="page-meta">
		{% if page.showdate != false %}
			<p>Published 
				<time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">
					{% assign H = {{ page.date | date: "%-H" }} %}
					{% assign d = {{ page.date | date: "%-d" }} %}
					{{ page.date | date: "%B" }}
					{% case d %}
  						{% when '1' or '21' or '31' %}{{ d }}st
  						{% when '2' or '22' %}{{ d }}nd
  						{% when '3' or '23' %}{{ d }}rd
  						{% else %}{{ d }}th
  					{% endcase %}, 
  					{{ page.date | date: "%Y" }}
  					{% if H >= 13 %}
						{{ H | minus: 12 }}
						{% assign ampm = 'PM' %}
					{% else %}
						{{ H }}
						{% assign ampm = 'AM' %}
					{% endif %}:
					{{ page.date | date: "%M" }} {{ ampm }}
				</time>
			</p>
		{% endif %}
		{% if page.modified %}
			<p>Updated 
				<time datetime="{{ page.modified | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="dateModified">
					{{ page.modified | date: "%B %-d, %Y" }}
				</time>
			</p>
		{% endif %}
	</div><!-- /.page-meta -->
{% endif %}