{% if page.date %}
	<div class="page-meta">
		{% if page.showdate != false %}
			<p>Written <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{% capture cache %}<!-- Whitespace Fix -->
					{% assign d = {{ page.date | date: "%-d" }} %}
					{% case d %}
  						{% when '1' or '21' or '31' %}
  							{% assign dsuffix = 'st' %}
  						{% when '2' or '22' %}
  							{% assign dsuffix = 'nd' %}
  						{% when '3' or '23' %}
  							{% assign dsuffix = 'rd' %}
  						{% else %}
  							{% assign dsuffix = 'th' %}
  					{% endcase %}
  					{% assign H = {{ {{ page.date | date: "%H" }} | plus: 0 }} %}
					{% if H == 0 %}
						{% assign Hf = '12' %}
						{% assign ampm = 'AM' %}
					{% elsif H > 12 %}
						{% assign Hf = {{ H | minus: 12 }} %}
						{% assign ampm = 'PM' %}
					{% else %}
						{% assign Hf = H %}
						{% assign ampm = 'AM' %}
					{% endif %}
					{% endcapture %}{% assign cache = nil %}<!-- /Whitespace Fix -->{{ page.date | date: "%B" }} {{ page.date | date: "%-d" }}{{ dsuffix }}, {{ page.date | date: "%Y" }} {{ Hf }}:{{ page.date | date: "%M" }} {{ ampm }} {{ page.date | date: "%Z" }}</time></p>
		{% endif %}
		{% if page.modified %}
			<p>Updated <time datetime="{{ page.modified | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="dateModified">{% capture cache %}<!-- Whitespace Fix -->
					{% assign d = page.modified | date: "%-d" %}
					{% case d %}
  						{% when '1' or '21' or '31' %}
  							{% assign dsuffix = 'st' %}
  						{% when '2' or '22' %}
  							{% assign dsuffix = 'nd' %}
  						{% when '3' or '23' %}
  							{% assign dsuffix = 'rd' %}
  						{% else %}
  							{% assign dsuffix = 'th' %}
  					{% endcase %}
  					{% assign H = page.modified | date: "%H" | plus: 0 }} %}
					{% if H == 0 %}
						{% assign Hf = '12' %}
						{% assign ampm = 'AM' %}
					{% elsif H > 12 %}
						{% assign Hf = H | minus: 12 %}
						{% assign ampm = 'PM' %}
					{% else %}
						{% assign Hf = H %}
						{% assign ampm = 'AM' %}
					{% endif %}
					{% endcapture %}{% assign cache = nil %}<!-- /Whitespace Fix -->{{ page.modified | date: "%B" }} {{ page.modified | date: "%-d" }}{{ dsuffix }}, {{ page.modified | date: "%Y" }} {{ Hf }}:{{ page.modified | date: "%M" }} {{ ampm }} {{ page.modified | date: "%Z" }}</time></p>
		{% endif %}
	</div><!-- /.page-meta -->
{% endif %}
